<div class="container-fluid">
  <a [routerLink]="['/','createBook']">Create Book</a>
  <h2>Book List</h2>
  <form>
    <table id="products">
      <tbody>
      <tr>

        <th class="title">Title</th>
        <th class="title">Author</th>
        <th class="title">Delete</th>
        <th class="title">Edit</th>
        <th class="title">Detail</th>

      </tr>
      <tr *ngFor="let book of books">
        <td><a [routerLink]="['/detail',book.id]"> {{book.title}}</a> </td>
        <td>{{book.author}}</td>
        <td>
          <button (click)="deleteBook(book.id)">Delete</button>
        </td>
        <td>
          <button (click)="editBook(book.id)">Edit</button>
        </td>
        <td>
          <button (click)="detailBook(book.id)">Detail</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div *ngIf="message" style="text-align: center"><p style="color: red">{{ message }}</p></div>
  </form>

</div>
